FALCO_DRIVER_MODE=modern_ebpf
FALCO_LOG_LEVEL=info
FALCO_HTTP_OUTPUT_URL=http://falcosidekick:2801/

SIDEKICK_LISTEN_PORT=2801
SIDEKICK_WEBUI_PORT=2802
SIDEKICK_WEBUI_LOGLEVEL=info

SIMULATE_TARGET_IMAGE=alpine:3.20
VALIDATION_TIMEOUT_SECONDS=30
